
.tt img {
    height: 165px;
    border: 2px solid white;
    border-radius: 147px;
    margin: 32px 42px;
}
.label{
    padding: 0px 29px;
    margin: 8px 9px;
}
#skills{
    padding: 2px 2px;
    margin: 2px 2px;
    display: block;
}
#projects{
    padding: 2px 2px;
    margin: 2px 2px;
    display: block;
}